.item.vis {
  display: initial;
}

img {
  display: none;
}

canvas {
  visibility: visible;
}

video {
  max-height: 50vh;
}

details[open] {
  overflow: scroll;
  max-width: 80vw;
}

details[open] p,
details[open] button {
  max-width: 36rem;
}

.item summary {
  max-width: calc(100vw - 5rem);
}

.item {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  z-index: 1;
}

.item[open] {
  height: 100vh;
}

main {
  position: sticky;
  top: 0;
  z-index: 1;
}

#spacer {
  display: block;
}
