* {
    font-size: inherit;
    font-weight: normal;
    box-sizing: border-box;
}

button,
#cart input,
summary {
    all: unset;
}

body {
    margin: 0;
}

body,
details {
    background: red;
}

details,
#header {
    padding-right: 1em;
    padding-left: 1em;
}

details,
#header,
.item button,
form {
    padding-top: 10px;
    padding-bottom: 10px;
}

.item button,
form {
    margin-top: 10px;
    margin-bottom: 10px;
}

#cart {
    z-index: 2;
    position: absolute;
    overflow: scroll;
}

#cart input.qty {
    width: 2em;
}

#cart button {
    margin-right: 1em;
}

img,
canvas,
video {
    max-width: 100%;
    max-height: 100%;
}

.item button,
form {
    text-align: center;
    outline: 1px solid;
}

.item button {
    width: 100%;
}

#header a {
    color: white;
}

summary {
    display: flex;
}

.price {
    width: 2em;
    flex-shrink: 0;
}

div#header {
    text-align: center;
    line-height: 100vh;
    height: 100vh;
    padding-bottom: 8px;
    position: fixed;
    width: 100%;
    z-index: -1;
}

svg {
    width: 30px;
    height: 22px;
}

svg path {
    transform: translate(-63px, -86px);
    fill: black;
}