* {
    font-size: inherit;
    font-weight: normal;
    box-sizing: border-box;
}

button,
#cart input,
summary {
    all: unset;
}

body {
    margin: 0;
}

body,
details {
    background: red;
}

details, form, #checkbox {
    padding: 1em;
}

form {
    margin: 1em 0;
}

#cart {
    z-index: 2;
    position: absolute;
    overflow: scroll;
}

#cart input.qty {
    width: 2em;
}

#cart button {
    margin-right: 1em;
}

#checkbox {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin: 1em;
}

img,
canvas,
video {
    max-width: 100%;
    max-height: 100%;
}

.item button,
form {
    text-align: center;
    outline: 1px solid;
}

.item button {
    margin: 1em 0;
    padding: 1em 0;
    width: 100%;
}

header {
    padding: 1em;
}