body {
  height: var(--height);
}

body>.vis {
  display: initial;
}

img {
  display: none;
}

canvas {
  margin: auto;
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
}

#cart,
video {
  max-height: 50vh;
}

#display {
  max-width: 50%;
  position: fixed;
  left: 0;
  top: 0;
}

details[open] {
  overflow: scroll;
}

.item {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
}

.item>* {
  max-width: 36em;
}

#cart {
  bottom: 0;
}