.item.vis {
  display: initial;
}

img {
  display: none;
}

canvas {
  margin: auto;
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#cart,
video {
  max-height: 50vh;
}

details[open] {
  overflow: scroll;
}

details[open] p,
details[open] button {
  max-width: 36em;
}

.item summary {
  max-width: calc(100vw - 4em);
}

#cart summary {
  text-align: right;
  width: 100%;
}

.item {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 1;
}

.item[open] {
  height: 100vh;
}

#cart {
  top: 0;
  right: 0;
}

#display {
  max-width: 50%;
  position: fixed;
  left: 0;
  top: 0;
}
