<head>
  <script>
    console.log('product');
    let productId = {{ product.id }}
    throw new Error("Something went badly wrong!");
  </script>
</head>
<body>
  <script>
    throw new Error("Something went badly wrong!");
  </script>
</body>