<head>
    <script>
    const productId = {{ product.id }}
    const stuff = {{ product | json }}
    console.log('route: product' + productId);
    console.log(stuff)
</script>
</head>
<body>
    <aside></aside>
</body>